.formSection {
  margin-top: 2em;
}

.hr {
  height: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  box-sizing: content-box;
}

.formGroup {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 15px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}
