.button {
  user-select: none;
  display: inline-block;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid transparent;
}

.button:disabled {
  border-color: transparent;
  background-color: rgb(233, 236, 239);
  color: rgb(173, 181, 189);
  cursor: not-allowed;
  pointer-events: none;
}

.small {
  height: 36px;
  padding: 0px 18px;
  font-size: 14px;
}

.medium {
  height: 42px;
  padding: 0px 22px;
  font-size: 16px;
}

.large {
  height: 50px;
  padding: 0px 26px;
  font-size: 18px;
}

.red {
  background-color: red;
  color: white;
}

.blue {
  background-color: blue;
  color: white;
}

.green {
  background-color: green;
  color: white;
}
